body {
  font-family: Arial, sans-serif;
  background-color: #8a8a8a;
  text-align: center;
}
.q-btn {
  background-color: rgba(22, 92, 101, 1) !important;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  color: white;
}
.sidebar {
  background: rgba(255, 255, 255, 1);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Adding a subtle shadow */
  color: black;
  padding: 20px;
}

.q-page {
  background: #ffffffd8;
  padding: 20px;
}

.q-markup-table th {
  background: rgba(22, 92, 101, 1) !important;
  color: white;
}

.non-clickable {
  pointer-events: none;
  font-weight: bold;
  background-color: #e0e0e0;
  color: white;
}

.pagination-container {
  justify-content: flex-start; /* Alinha à esquerda */
}
.table-container {
  max-width: 100%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  overflow-x: auto; /* Adiciona rolagem horizontal dentro do container se necessário */
}

.q-markup-table {
  width: 100%;
  table-layout: auto; /* Permite que as colunas se ajustem ao conteúdo */
}

.q-markup-table th,
.q-markup-table td {
  white-space: nowrap; /* Impede que os textos quebrem em várias linhas */
  padding: 10px;
  text-align: left;
  word-break: break-word; /* Garante que palavras grandes não estourem a célula */
}
